body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
    background: black;
    z-index: 9;
    
}
footer a{
    color: white;
    text-decoration: none;
}

.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffaf02;
    z-index: 10;
}
.nav-container ul{
    list-style: none;
    text-align: center;
}
.nav-container ul li{
    display: inline-block;
    margin: 10px 20px;
}
.nav-container ul li a{
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.nav-container ul li a.active{
    color: red;
}
.nav-container a:hover{
    color: #272727;
}

.container{
    margin-top: 75px;
    height: calc(100vh - 75px);
}
section{
    position: relative;
    width: 100%;
    height: 100%;
}

section .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg{
    background-size: cover;
    background-position: center;
    color: white;
}
.bg-1{
    background: url('https://picsum.photos/1920/1080?image=0');
}

.bg-2{
    background: url('https://picsum.photos/1920/1080?image=1083');
}

.bg-3{
    background: url('https://picsum.photos/1920/1080?image=1084');
}

.bg-4{
    background: url('https://picsum.photos/1920/1080?image=1080');
}